/* FoodList.css */

.food-list-container {
    padding: 50px;
    background-color: #f9f9f9;
}

.category-section {
    margin-bottom: 40px;
}

.category-heading {
    font-size: 36px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px solid #ff5722; /* Example border color */
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center; /* Center the heading */
}

.food-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
